<% if flash[:notice] %>
  <div class="notice-container">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert-container">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
