<header class="homepage container primary-gradient-background">
  <h1>Fast Budget</h1>
</header>
<section class="information container">
  <div class="container margin-b">
    <h2 class="heading">How it works</h2>
    <p>
      Easily manage your budget. Have a list of transactions associated with a category, so that you can see how much money you spent and on what.
    </p>
  </div>

  <div class="container margin-b">
    <h2 class="heading">Join now</h2>
    <p>
      If you haven't already, <%= link_to "sign up now", new_user_registration_path, class: "link" %> or if you already have an account, <%= link_to "sign in", new_user_session_path, class: "link" %>.
    </p>
  </div>
</section>
